*{
    box-sizing:boder-box;
}

body {
    margin:0;
    font-family: 'Roboto Slab', serif;
    color:#777;
}

a.btn-blue, .btn-blue{
    background-color: #0ed8d6;
    border: 1px solid #0ed8d6;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color:#fff;
    transition: all .3s;
    padding: 15px 30px;
}

a.btn-blue, .btn-blue:hover{
    background-color: #fff;
    border:1px solid #0ed8d6;
    color: #0ed8d6;
}

#main-nav {
   background-color: transparent;
   background: transparent;
   border:0;
}

.navscrolled {
    background-color: #0ed8d6;
}

#main-nav a.navbar-brand{
    font-size:2em;
    font-family:'Droid Serif', sans-serif;
    text-transform: none;
}

#main-nav a{
    color:#fff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

#main-nav a:hover{
    color:black;
}


#nav-button>a{
    color:#fff;
    font-weight: 500;
    font-style:italic;
}

h1{
    font-size:4em;
}

h3{
    font-size:1.2em;
}

h1,h2,h3,h4,h5{
font-family:'montserrat', sans-serif;
color: #333;
    margin:40px 0 0 0;
}

h1{
    text-transform: uppercase;
}

/* header start */

#main-header{
    height:100vh;
    width:100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
        url("../img/header/pictures_on_the_wall.jpg");
    background-size:100%;
    background-size: cover;
    position: relative;
}

#main-header .header-caption{
    position: absolute;
    left:0;
    right:0;
    top:50%;
    transform: translateY(-50%);
    margin: auto;
    text-align: center;
    color:#fff;
}

/* header stop */

/* section services start */
#services{
    margin:20px;
}

#services-header{
    
}

#services .fa{
    padding:15px;
    border-radius:100%;
    border:1px solid #0ed8d6;
    background-color: #0ed8d6;
    color:#fff;
    margin:15px;
    transition: all .3s;
    
}

#services .fa:hover{
    border:1px solid #0ed8d6;
    background-color: #fff;
    color:#0ed8d6;
    transform: rotate(360deg);
}

/* section services stop */

/* section portfolio start */

#portfolio{
    background-color: #f7f7f7;
}

#portfolio .single-portfolio-item{
    background-color: #fff;
    margin-bottom:20px;
}

#portfolio .portfolio-image-container{
    height:300px;
    overflow:hidden;
}

#portfolio .single-portfolio-item .portfolio-image{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:100%;
    position: relative;
    transition: 0.3s;
}

#portfolio .single-portfolio-item .portfolio-image:hover{
    transform: scale(1.2);
}

#portfolio .single-portfolio-item .portfolio-image .portfolio-image-mask{
    background-color: rgba(14,216,214,0.85);
    width:100%;
    height:100%;
    position: absolute;
    opacity:0;
    transition: all 0.3s;
    cursor:pointer;
}

#portfolio .single-portfolio-item .portfolio-image .portfolio-image-mask:hover{
    opacity:1;
}

#portfolio .single-portfolio-item .portfolio-image .portfolio-image-mask .fa{
    color:#fff;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left:0;
    right:0;
    margin:auto;
}

#portfolio-item-1{
    background-image: url(../img/portfolio/box_of_cookies.jpg);
    
}
#portfolio-item-2{
    background-image: url(../img/portfolio/chaotic_paint.jpg);
}
#portfolio-item-3{
    background-image: url(../img/portfolio/chestnut_on_bracket.jpg);
}
#portfolio-item-4{
    background-image: url(../img/portfolio/child_with_blue_paint.jpg);
}
#portfolio-item-5{
    background-image: url(../img/portfolio/house_with_blue_doors.jpg);
}
#portfolio-item-6{
    background-image: url(../img/portfolio/typing_on_laptop.jpg);
}

/* section portfolio stop */


/* section team start */

#team{
}

.team-content{
    margin:0 0 40px 0;
}


#team .team-image{
    height:200px;
    width:200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    left:0;
    right:0;
    margin:auto;
    border-radius:50%;
}
#team .team-image{
    cursor: crosshair;
}

#team .fa{
    width:35px;
    height:35px;
    line-height: 35px;
    border-radius:100%;
    border:1px solid #222222;
    background-color: #222222;
    color:#fff;
    transition: all .3s;
    margin:5px;
}

#team .fa:hover{
    border:1px solid #0ed8d6;
    background-color: #0ed8d6;
    color:#fff;
}

#team-paragraph{
    margin: 40px;
}

#image1{
    background-image: url(../img/team/man-1.jpg);
}

#image2{
    background-image: url(../img/team/man-2.jpg);
}

#image3{
    background-image: url(../img/team/woman-1.jpg);
}

/* section team stop */

/* section contact start */

#contact {
    background-image:linear-gradient(to bottom, rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../img/footer/world-map.jpg);
    color:#fff;
    background-size: cover;
    background-position: center;
    padding: 0 0 50px 0;
}

#contact h1, #contact p{
    color:#fff;
}

#contact input:not([type='submit']), #contact textarea{
width:100%;
    border:0px solid;
}

#contact input, #contact textarea{
    text-transform: uppercase;
    padding:15px;
    font-family: 'Montserrat', sans-serif;
    border-radius:5px;
}

#contact input:not(:last-child){
    margin-bottom:30px;
}

#contact input[type='submit']{
    margin-top:30px;
}






/* section contact stop */













