*{
    box-sizing:boder-box;
}

body {
    margin:0;
    font-family: 'Roboto Slab', serif;
    color:#777;
}

a.btn-blue, .btn-blue{
    background-color: #0ed8d6;
    border: 1px solid #0ed8d6;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color:#fff;
    transition: all .3s;
    padding: 15px 30px;
}

a.btn-blue, .btn-blue:hover{
    background-color: #fff;
    border:1px solid #0ed8d6;
    color: #0ed8d6;
}

#main-nav {
   background-color: transparent;
   background: transparent;
   border:0;
}

.navscrolled {
    background-color: #0ed8d6;
}

#main-nav a.navbar-brand{
    font-size:2em;
    font-family:'Droid Serif', sans-serif;
    text-transform: none;
}

#main-nav a{
    color:#fff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

#main-nav a:hover{
    color:#0ed8d6;
}


#nav-button>a{
    color:#fff;
    font-weight: 500;
    font-style:italic;
}

h1{
    font-size:4em;
}

h3{
    font-size:1.2em;
}

h1,h2,h3,h4,h5{
font-family:'montserrat', sans-serif;
color: #333;
}

/* header start */

#main-header{
    height:100vh;
    width:100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
        url("../img/header/pictures_on_the_wall.jpg");
    background-size:100%;
    background-size: cover;
    position: relative;
}

#main-header .header-caption{
    position: absolute;
    left:0;
    right:0;
    top:50%;
    transform: translateY(-50%);
    margin: auto;
    text-align: center;
    color:#fff;
}

/* header stop */

/* section services start */
#services{
    margin:0 0 100px 0;
}

#services-header{
    margin:100px 0 40px 0;
}

#services .fa{
    padding:15px;
    border-radius:100%;
    border:1px solid #0ed8d6;
    background-color: #0ed8d6;
    color:#fff;
    margin:15px;
    transition: all .3s;
    
}

#services .fa:hover{
    border:1px solid #0ed8d6;
    background-color: #fff;
    color:#0ed8d6;
    transform: rotate(360deg);
}

/* section services stop */

/* section portfolio start */

#portfolio{
    background-color: #f7f7f7;
}

#portfolio-header{
}

.portfolio-zdjecie{
    height:200px;
}

#portfolio-zdjecie-1{
    background-image: url(../img/portfolio/box_of_cookies.jpg);
    background-size: cover;
}
#portfolio-zdjecie-2{
    background-image: url(../img/portfolio/chaotic_paint.jpg);
    background-size: cover;
}
#portfolio-zdjecie-3{
    background-image: url(../img/portfolio/chestnut_on_bracket.jpg);
    background-size: cover;
}
#portfolio-zdjecie-4{
    background-image: url(../img/portfolio/child_with_blue_paint.jpg);
    background-size: cover;
}
#portfolio-zdjecie-5{
    background-image: url(../img/portfolio/house_with_blue_doors.jpg);
    background-size: cover;
}
#portfolio-zdjecie-6{
    background-image: url(../img/portfolio/typing_on_laptop.jpg);
    background-size: cover;
}







/* section portfolio stop */